body, html {
  height: 100%;
  width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.lead {
  color: white;
  font-size: 1.3em;
  font-weight: 400;
  line-height:150%;
  text-align:left;
}

.intro-header {
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  color: #f8f8f8;
  background: url("../img/la.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
}

.intro-message {
  position: relative;
  padding-top: 15%;
  padding-bottom:5%;
}

.intro-message > h1 {
  margin: 0;
  font-size: 7.8em;
  text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.6);
  font-family: 'Pacifico', cursive;
  font-weight: normal;
}

.intro-divider {
  width: 550px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-family:"Abril";
}

@media (max-width: 767px) {
  .intro-message {
    padding-bottom: 15%;
  }

  .intro-message > h1 {
    margin: 0;
    font-size: 5em;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
  ul.intro-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
    margin-bottom: 0;
  }

  .intro-divider {
    width: 100%;
  }
}

.network-name {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.content-section-a {
  padding: 50px;
  background: url("../img/header.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  height:auto;
}

.content-section-b {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  padding: 50px 0;
}

.section-heading {
  margin-bottom: 30px;
  font-family:"Lobster";
  font-size: 5em;
  color: white;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.8);
}

.section-heading-spacer {
  width: 200px;
  float: left;
}

.banner {
  padding: 100px 0;
  color: #f8f8f8;
  background: url(../img/banner-bg.jpg) no-repeat center center;
  background-size: cover;
}

.banner h2 {
  margin: 0;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 3em;
}

.banner ul {
  margin-bottom: 0;
}

.banner-social-buttons {
  float: right;
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    float: left;
    margin-top: 15px;
  } 
}

@media (max-width: 767px) {
  .banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    font-size: 3em;
  }

  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  } 
}

footer {
  background-color: #f8f8f8;
  padding: 50px 0;
}

p.copyright {
  margin: 15px 0 0;
}



i.fa {
    font-size: 7em;
    color:#01A9DB;
    padding: 5px 10px;
    text-shadow: -1.5px 0 white, 0 1.5px white, 1.5px 0 white, 0 -1.5px white;
}


.title-seperator {
  bottom-border:1px solid white;
  width: 200px;
}

.blog-list a{
  text-align:left;
  font-color:white;

}
