body {
	margin-left:auto;
	margin-right:auto;
	background-color:#CCCCCC;
	width:750px;
}

.main {
	width:100%;
	background-color:#FFFFFF;
	border-radius:25px;
	box-shadow: 10px 10px 5px #888888;
}


#header {
	padding-top:30px;
	text-align:center;
	height:150px;

}
h5 {
	margin-top: 0px;
	padding-top: 0px;
	font-size: 1.3em;
}
h1 {
	font-size: 55px;
	font-family:"Lato";
	color:#005B9A;
}

h2 {
	text-align:center;
	padding-top:20px;
	font-size:40px;
	border-top:3px solid #CCCCCC;
}
.content {
	width:auto;
	height:auto;
	background-color:#FFFFFF;
	border-radius:25px;
}
p {
	font-size: 20px;
	margin: 15px 15px 10px 10px;
	padding: 5px 15px 20px 20px;
	line-height: 1.5em;
}

li {
	font-size: 20px;
	padding: 15px 15px 20px 20px;
	margin: 0px;
	line-height: 1.5em;
}

img {
	display:block;
	margin:0 auto;
	max-width:40%;
}