body{
	background-color: #660099;
}

h1{
	font-family: verdana;
	color: #FFFF00;
	text-align: center;
}

h2{
	font-family: cursive;
	color: #FFFF00;
	text-align: center;
}


#intro {
	font-family: Cursive;
	color: #cc0000;
}

.title {
	font-family: Verdana;
	color: #003366;
}