body {
	margin-left:auto;
	margin-right:auto;
	background-color:#243743;
	width:750px;
	color: #243743;
}

.main {
	width: 100%;
	margin: 5px;
	border:3px solid #FAFAFA;
	background-color:#28B78D;
}
#header {  
	text-align:center;
	border-bottom: 3px solid #FAFAFA;
	height:100px;
	background-color: #8A949B;
}

h1{
	font-size:33px;
}
h2 {
	font-size: 27px;
	text-align:center;
}

.alignleft {
	text-align:left;
}
#content {
	width:600px;
	float:right;
	height:auto;
	text-align:left;


}

#content li {
	text-align:left;
	font-size: 18px;
	padding-bottom: 10px;

}

#picture {
	position: relative;
	bottom:0px;
	left:0px;
	
}

#picture img {

	width: 200px;
	height: 150px;
	
}
#picture .caption {
	position:absolute;
	bottom: 0px;
	left: 0px;
	background-color:#243743;
	color: white;
	font-size:25;
	padding: 5px;
	width:auto;
}

#sidebar {
	float:left;
	padding:5px;
	border-right:2px solid #FAFAFA;
	width:120px;
	min-height: 400px;
	height:auto;
	text-align:center;
}

#sidebar li {
	text-align:left;
	padding-bottom: 10px;
}

#footer {
	clear:both;
    width: 100%;
    height: 100px;
    background-image: url(http://awesomewallpaper.files.wordpress.com/2011/09/futuristic_wallpaper_by_aerolk-d4852lv.jpg);
    background-size: 100% 100%;
}​

a, a:link {
	color:#243743;
	text-decoration:none;
}

a:visited{
	color:#FF0000;
}
